* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background-color: #30475e;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*--------------Bar Menu-------------*/
.bar-menu {
    background-color: #222831;
    display: flex;
    width: 50%;
    height: 12vh;
    justify-content: space-evenly;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
}
.bar-menu h1{
    background-color: transparent;
}
.bar-menu input{
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
.number{
    background-color: #e8e8e8;
    color: #222831;
    text-align: center;
}
.btn-clear{
    padding: 0px 20px;
    background-color: #f05454;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
.btn-clear:hover{
    background-color: #e8e8e8;
    color: #f05454;
    cursor: pointer;
}
/*--------------Dynamics Numbers-------------*/
.numbers-block{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100vh;
    justify-content: center;
    margin-top: 4%;
    padding-top: 4%;
    align-content:flex-start;
    align-items: baseline;
    background-color: #222831;
    border-radius: 10px 10px 0px 0px;    
}
.numbers-block input{
    width: 12%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f05454;
    border-style: none;
    outline: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}   
.numbers-block input:hover{
    width: 14%;
    height: 58px;
    cursor: pointer;
    font-size: 20px;
}
